# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
venv/
.venv/

# SQLite local database
*.db

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
